//env setup , here env means the browsers

{
    "presets": [
        ["@babel/env", {
            "useBuiltIns": "usage",
            "corejs": "3",
            "targets": {
                "browsers": [
                    "last 5 versions",
                    "ie >= 8"  //ie means internet explorer
                ]
            }
        }]
    ]
}